{% extends 'user/user_base.html' %}
{% block content %}

<style>
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;  
  justify-content: center;  
  background-color: #E0FFFF;  
}

.form-container {
  width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.message-container {
  margin-bottom: 10px;
  color: red;
}

input[type="submit"] {
  width: 100%;
  margin-top: 20px;
}

nav {
  margin-top: 20px;
}

  
input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.4;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

</style>

<div class="form-container">
 <div class="form-title">新規登録</div>
<form method="POST">
    {% csrf_token %}
    <div class="form-group text-start mb-3">
      <label for="{{ regist_form.username.id_for_label }}">名前</label>
      {{ regist_form.username }}
      {% if regist_form.username.errors %}
        <div class="text-danger">{{ regist_form.username.errors }}</div>
      {% endif %}
   </div>

   <div class="form-group text-start mb-3">
      <label for="{{ regist_form.email.id_for_label }}">メールアドレス</label>
      {{ regist_form.email }}
      {% if regist_form.email.errors %}
        <div class="text-danger">{{ regist_form.email.errors }}</div>
      {% endif %}
   </div>

   <div class="form-group text-start mb-3">
      <label for="{{ regist_form.password.id_for_label }}">パスワード</label>
      {{ regist_form.password }}
      {% if regist_form.password.errors %}
        <div class="text-danger">{{ regist_form.password.errors }}</div>
      {% endif %}
   </div>

   <div class="form-group text-start mb-3">
      <label for="{{ regist_form.confirm_password.id_for_label }}">パスワード再入力</label>
      {{ regist_form.confirm_password }}
      {% if regist_form.confirm_password.errors %}
        <div class="text-danger">{{ regist_form.confirm_password.errors }}</div>
      {% endif %}
   </div>

    <input type="submit" value="登録" class="btn btn-primary">
</form>
<nav>
<a href="{% url 'diary_app:login' %}">ログインに戻る</a>
</nav>
{% endblock %}