{% extends "base.html" %}
{% block content %}

{% if formset.non_form_errors %}
    <div>
      {% for error in formset.non_form_errors %}
          <p>{{ error}}</p>
      {% endfor%}
    </div> 
{% endif %}
    <h3>できたこと編集画面</h3>
    <h3>{{ year }}年{{ month }}月{{ day }}日</h3>
    <form method="POST">    
        {% csrf_token %}
        <h3>今日できたこと</h3>
{% comment %} {{ today_input_form.今日できたこと.label_tag }}   
{{ today_input_form.今日できたこと }} {% endcomment %}
        {{ edit_diary_form.successes }}
        {{ formset.management_form }}
        <div id="formset-area">
            {% for form in formset %}
            <div class="other-success-form">
                {{ form.other_success }}
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-form-btn" style= "background-color:#E0FFFF;">＋追加</button>        
{% comment %} <button name="btn_add" type="submit">追加する </button> {% endcomment %}

        <h3>明日の目標</h3>
        {{ edit_diary_form.tomorrow_goal }}

        <input type="submit" value="保存" class="btn btn-primary btn-sm">
    </form>    
<a href="{% url 'diary_app:diary_inspection' year=year month=month day=day %}">
    <button type="button">キャンセル</button>
</a>



<script>
    document.addEventListener('DOMContentLoaded', function(){
        const addButton = document.getElementById("add-form-btn");    
        const formArea = document.getElementById("formset-area");
        let formCount = {{ formset.total_form_count }};
        const maxForms =3;

        

         addButton.addEventListener("click", function(){
             if (formCount >= maxForms) {
                 alert("これ以上追加できません（最大3つ）");
                 return;
             }
             const newForm = formArea.children[0].cloneNode(true); 
             newForm.innerHTML = newForm.innerHTML.replace(/form-0-/g, `form-${formCount}-`)
             formArea.appendChild(newForm);
             formCount++;
             const totalForms = document.querySelector("#id_form-TOTAL_FORMS");
             totalForms.value =formCount;

        })   
    })        
</script>
{% endblock %}