{% extends "base.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block content %}

<style>
.triangle-left{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid black;
  border-bottom: 10px solid transparent;
  display: inline-block;
}

.triangle-right{
  width: 0;
  height: 0;
  border-left: 10px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline-block;
}

 .triangle-link {
    display: inline-block;
    text-decoration: none;
  }
  

.calendar-table {
  width: 100%;
  table-layout: fixed; 
  border-collapse: collapse;
  margin-top: 20px;
}


.calendar-table td,
.calendar-table th {
  border: 1px solid #ccc;
  vertical-align: middle;
  height: 80px; 
  font-size: 16px;
  
}

.calendar-table th {
  background-color: #E0FFFF;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.calendar-table td {
  text-align: left;
  padding-left: 8px;
}
</style>

{% if user.is_authenticated %}
<div class="container" mt-3>

     <div class="container  text-center">
      {% if messages %}
        {% for message in messages %}
        <p>{{ message.message}}</p>
        {% endfor %}
      {% endif %}  
      {% if streak >= 2 %}  
        <p style= "font-weight: bold; font-size: 25px; color: #FF8C00;">{{ streak }} 日連続で日記かけた！すごい👏</p>
      {% endif %}
      <h4>
        <a href="{% url 'diary_app:month' month_previous.year month_previous.month %}"  class="triangle-link">
             <div class="triangle-left"></div>
        </a>
         {{ month_current | date:"Y年m月"}}
        
        <a href="{% url 'diary_app:month' month_next.year month_next.month %}" class="triangle-link">
             <div class="triangle-right"></div>
        </a>
      </h4>
        
    </div>

    <table class="calendar-table">
        <thead>
        <tr>
            {% for w in week_names %}
                <th>{{ w }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week in month_days %}
            <tr>
                {% for day in week %}     
                  {% if now == day and day in diary_dates %}
                      <td style="background-color:#FFA07A;">
                  {% elif day in diary_dates %}              
                       <td style="background-color:#FFDAB9;">
                  {% elif now == day %}
                       <td class="table-success">      
                  {% else %}    
                      <td> 
                  {% endif %}
                    <a href="{% url 'diary_app:today_input' year=day.year month=day.month day=day.day %}">
                        {% if month_current.month != day.month %}
                            {{ day | date:"m/d" }}
                        {% else %}
                            {{ day.day }}         
                    {% endif %}
                    </a>  
                    </td>               
                {% endfor %} 
            </tr>
        {% endfor %}
        </tbody>
    </table>
      
       
{% endif %}
</div>     
{% endblock %}

