{% extends "base.html" %}
{% load static %}
{% block content %}
<p>マイページ</p>
<div class="container  text-center">
{% if messages %}
    {% for message in messages %}
        <p>{{ message.message }}</p>
    {% endfor %}
{% endif %}
    <form method="POST" enctype="multipart/form-data">    
        {% csrf_token %}
         {% if user.user_image and user.user_image.name %} 
           <img src="{{ user.user_image.url }}" width="80px">
         {% else %}
           <img src="{% static 'images/noimage.png' %}" alt="画像未設定">  
        {% endif %}
        {{ my_page_form.as_p }}
        <input type="submit" value="更新">
    </form> 
</div>      
<a href="{% url 'diary_app:change_password' %}">パスワード変更</a>
{% endblock %}