{% extends "base.html" %}
{% block content %}
<p>マイページ</p>
{% if messages %}
    {% for message in messages %}
        <p>{{ message.message }}</p>
    {% endfor %}
{% endif %}
    <form method="POST" enctype="multipart/form-data">    
        {% csrf_token %}
         {% if user %} 
           <img src="{{ user.user_image.url }}">
        {% endif %}
        {{ my_page_form.as_p }}
        <input type="submit" value="更新">
    </form>   
<a href="{% url 'diary_app:change_password' %}">パスワード変更</a>
<a href="{% url 'diary_app:month' year=today.year month=today.month %}">ホーム画面に戻る</a>
{% endblock %}