<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}できたこと日記{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <h3>できたこと日記</h3>
            </div>    
        </nav>        
       <div class="container text-center mt-5">
           <h3 class="mb-4">作品No.1できたこと日記</h3>
           <div class="row my-5" >
               <div class="col-md-4"><img src="/media/dekitakotonikki1.png" class="img-fluid" alt="できたこと日記1"></div>
               <div class="col-md-4"><img src="/media/dekitakotonikki2.png" class="img-fluid" alt="できたこと日記2"></div>
               <div class="col-md-4"><img src="/media/dekitakotonikki3.png" class="img-fluid" alt="できたこと日記3"></div>
           </div>

               <p>できたこと日記は、今日1日で達成したことやできたことを毎日書くことで、ユーザーが自信や人生の充実感を得ることができるアプリです。</p>
               <p>更に、明日の目標を書くスペースがあるので、目標達成できると感じることもできます。</p>
               <p>1週間・1か月でできたことを振り返る機能もあるため、 自分の成長を実感できます。</p>
        
        
            <h3 class="mb-3">資料リンク</h3>
            <p>
            <a href="/media/企画書（小林遥子）.pdf" target="_blank">企画書</a> | 
            <a href="/media/画面設計図（小林遥子）.pdf" target="_blank">画面設計図</a> | 
            <a href="/media/画面遷移図（小林遥子）.drawio.svg"target="_blank">画面遷移図</a> | 
            <a href="/media/ER図 小林遥子.drawio.svg" target="_blank">ER図</a>
            </p>
        
            <a href="{% url 'diary_app:login' %}" class="btn btn-lg btn-primary mt-3">アプリにアクセス</a>
        </div>
    </body>
